* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  --color-heading: blue;
}

.container {
    margin: 1rem;
    display: grid;
    grid-template-columns: [start] 1fr [middle] 3fr [end];
    grid-template-areas: 
        "nav nav"
        "header header"
        "sidebar content"
        "sidebar footer";
    column-gap: 1rem;
    row-gap: 1rem;
    justify-items: stretch;
    align-items: stretch;
}

.card {
    border: 0.25rem solid rgb(100, 100, 100);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.card--a {
    grid-area: header;
    /*
    grid-column-start: start;
    grid-column-end: end;
    */
}

.card--b {
    grid-area: sidebar;
}


.card--c {
    grid-area: content;
    min-height: 15rem;
}

.card--d {
    grid-area: footer;
    /*
    grid-column-start: start;
    grid-column-end: span 2;
    */
}

.card--e {
    grid-area: nav;
    /*
    grid-column-start: start;
    grid-column-end: end;

    grid-row-start: 1;
    grid-row-end: 2;
    */
}

.card__heading {
    text-align: center;
}