@use "../abstracts" as *;
@use "sass:color";

.footer {
    background-color: $color-secondary-light;
    padding: 3rem 0;
}

.footer__container {
    @include make-container();

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer__text-column {
    flex: 0 0 auto;
    margin-right: 5rem;
}

.footer__logo-column {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__heading {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.3rem;
    max-width: 25rem;
    line-height: 1.1em;
}

.footer__paragraph {
    color: $color-primary;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}


.footer__contact-item {
    position: relative;
    margin-bottom: 0.75rem;
}

.footer__contact-item-icon {
    position: relative;
    z-index: 2;

    background-color: $color-primary;
    height: 4rem;
    width: 4rem;
    text-align: center;
    border-radius: 100000px;
    font-size: 2.5rem;
    color: $color-secondary-light;

    &--phone {
        line-height: 3.9rem;
    }
}

.footer__contact-item-link {
    position: absolute;
    z-index: 1;
    left: 2rem;
    top: 0.25rem;

    white-space: nowrap;
    background-color: color.scale($color-secondary, $lightness: 40%);
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 16rem;
    text-align: center;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: calc(-100% - 5rem);
        width: calc(100% + 5rem);
        bottom: 0;

        background-image: linear-gradient(-45deg, transparent 2.82rem, $color-secondary 2.82rem);
        background-position: right center;
        background-repeat: no-repeat;
        transition: transform 0.5s ease-in-out;
    }

    &:hover {
        &::after {
            transform: translate(100%, 0);
        }
    }
}

.footer__logo-container {
    font-size: 18rem;
    padding: 0.05em;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(135deg, $color-primary 0%, $color-secondary 100%);
    border-radius: 1000000px;
}

.footer__logo-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1em;
    border: 0.025em solid white;
    border-radius: 1000000px;
}