* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  --color-heading: blue;
}

.row::after {
    display: table;
    content: " ";
    clear: both;
}

.card {
    padding: 6rem 3rem;
    height: 15rem;
    border-radius: 0.5rem;
    background: linear-gradient(30deg, #3ff0a6, #49e023);

    box-shadow: 0.2rem 0.2rem 1rem rgba(0,0,0,0.5);
    color: black;
    text-align: center;
}

.card h1 {
    margin-bottom: 1rem;

    color: pink;
    color: var(--color-heading, pink);
}

.col {
    width: 50%;
    padding: 2rem 2rem;
    float: left;
}