* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {}

body {
  font-family: "Lato", sans-serif;
}

.row::after {
    display: table;
    content: " ";
    clear: both;
}

.card {
    padding: 9rem 3rem;
    height: 20rem;
    border-radius: 0.5rem;
    background: linear-gradient(30deg, #3ff0a6, #49e023);
    box-shadow: 0.2rem 0.2rem 1rem rgba(0,0,0,0.5);
    color: black;
    text-align: center;
}

@media (max-width: 64em) {
    .card {
        background: linear-gradient(30deg, #423ff0, #c227ad);
    }
}

@media (max-width: 32em) {
    .card {
        background: linear-gradient(30deg, #f0803f, #a3371c);
    }
}

.card h1 {
    margin-bottom: 1rem;
}
/*
.col {
    width: 50%;
    float: left;
    padding: 2rem 2rem;
}

@media (max-width: 32em) { 
    .col {
        width: 100%;
        float: initial;
    }
}
*/
.col {
    width: 100%;
    float: none;
    padding: 2rem 2rem;
}

@media (min-width: 32em) {
    .col {
        float: left;
        width: 50%;
    }
}
